body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    font-family: 'Helvetica Neue', sans-serif;
}

header {
    padding: 20px 0;
}

header .navbar {
    background-color: #343a40;
}